<div class="profile__information">

    <div class="menu__addFriend bg_color_212A35 menu__addFriend_position text_color_white disabled">
        <form action="">
            {{{inputChangeAvatar}}}
        </form>
        {{{buttonChangeAvatar}}}
    </div>
        
    {{{informationProfile}}}

    <div class="profile__buttons">
        {{{buttonProfileChange}}}
    </div>
</div>
