<form class="form__change__user-data profile__information__design form__gap_10px__display_grid">
    <div>
        <p>Имя:</p>
        {{> input/input name="first_name" type="text" class="profile-input__change-data"}}
    </div>
    
    <div>
        <p>Фамилия:</p>
        {{> input/input name="second_name" type="text" class="profile-input__change-data"}}
    </div>

    <div>
        <p>Имя в чате:</p>
        {{> input/input name="display_name" type="text" class="profile-input__change-data"}}
    </div>

    <div>
        <p>Логин:</p>
        {{> input/input name="login" type="text" class="profile-input__change-data"}}
    </div>    

    <div>
        <p>Почта:</p>
        {{> input/input name="email" type="email" class="profile-input__change-data"}}
    </div>

    <div>
        <p>Телефон:</p>
        {{> input/input name="phone" type="number" class="profile-input__change-data"}}
    </div>

    
</form>
