<div class="profile__information">

{{!-- Ава смениться после перезагрузки страницы. --}}
{{!-- Так-же аву можно сменить, если нажать на саму аватарку на страницы профиля --}}

<form action="">
    {{{changeAvatarUser}}}
</form>

<form class="form__change__user-data profile__information__design form__gap_10px__display_grid">

    {{{input}}} 

    <div class="profile__buttons">
        {{{buttons}}}
    </div>
    
</form>
</div>
