<form class="form__change__user-password profile__information__design form__gap_10px__display_grid">
    <div>
        <p>Старый пароль:</p>
        {{> input/input name="oldPassword" type="password" class="profile-input__change-data"}}
    </div>
    
    <div>
        <p>Новый пароль:</p>
        {{> input/input name="newPassword" type="password" class="profile-input__change-data"}}
    </div>

    <div>
        <p>Повторить новый пароль:</p>
        {{> input/input name="repeat_newPassword" type="password" class="profile-input__change-data"}}
    </div>

</form>
