<form class="form__change__user-password profile__information__design form__gap_10px__display_grid">
    <div>
        <span class="form__error_messages hide">Неверный пароль</span>
        <p>Старый пароль: </p>
        {{#oldPassword}}
        {{{input name="old_password" type="password" class="profile-input__change-data" focus=this.focus blur=this.blur}}}
        {{/oldPassword}}
    </div>
    
    <div>
        <span class="form__error_messages hide">Неверный пароль</span>
        <p>Новый пароль: </p>
        {{#newPassword}}
        {{{input name="password" type="password" class="profile-input__change-data" focus=this.focus blur=this.blur}}}
        {{/newPassword}}
    </div>

    <div>
        <span class="form__error_messages hide">Пароли не совпадают</span>
        <p>Повторить новый пароль: </p>
        {{#repitPassword}}
        {{{input name="repit_password" type="password" class="profile-input__change-data" focus=this.focus blur=this.blur}}}
        {{/repitPassword}}
    </div>

    <div class="profile__buttons">
        {{#each buttons}}
            {{{button class=this.class label=this.label onClick=this.onClick}}}
        {{/each}}
    </div>
</form>
