<div class="profile__information">
    <form class="form__change__user-password profile__information__design form__gap_10px__display_grid">

        {{{inputPassword}}}

        <div class="profile__buttons">
            {{{buttons}}}
        </div>
    </form>
</div>
