.messsage__setting {
    padding: 10px;
    max-width: 500px;
    border-radius: 20px;
}

.outgoing__message__div {
    display: flex;
    justify-content: flex-end;
}

.outgoing__message__div > .type__message {
    background-color: #00008b;
}

.incoming__message__div {
    display: flex;
    justify-content: flex-start;
}

.incoming__message__div > .type__message {
    background: #c0c0c0;
}
