.messsage__setting {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 500px;
    border-radius: 20px;
}

.message__div {
    display: flex;
}

.messageDiv {
    justify-content: flex-start;
}

.message {
    background: #383838;
}

.myMessageDiv {
    justify-content: flex-end;
}

.myMessage {
    background: #730797;
    
}
