<div class="message__div {{#if isMine}} myMessageDiv {{else}} messageDiv {{/if}}">
    <p class="messsage__setting text_color_white {{#if isMine}} myMessage {{else}} message {{/if}}"><span>{{userNik}}: </span>{{content}}</p>
</div>
