.img__context-profile {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 30px;
}

.user_avatar_size {
    height: 80px;
    width: 80px;
}   

.profile__figure__avatar {
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

.profile__information__avatar {
    display: flex;
    justify-content: center;
}
