<section class="section__error_information">
    <h1 class="section__error_number">{{error_number}}</h1>
    <p class="section__error_descriptions">{{error_descriptions}}</p>
    {{{buttonBack}}}
</section>
