<section class="section__error_information">
    <h1 class="section__error_number">{{error_number}}</h1>
    <p class="section__error_descriptions">{{error_descriptions}}</p>
    {{> button/button class="size_h25_w180 bg_color_50AF8A" label="Назад"}}
</section>
