<div class="main__chat">
    <div class="main__chat_upmenu bg_color_212A35">
        <div class="main__chat_upmenu__info_frend flex_center">
            <figure class="main__chat_upmenu__info_frend__figure">
                <img src="" alt="Аватарка друга" class="main__chat_upmenu__info_frend_image">
            </figure>

            <p class="main__chat_upmenu__info_frend_name text_color_white">Frend</p>
        </div>
    </div>

    <div class="main__chat_message_area">
        <div class="main__chat_message_area__flex">
            
            {{> message/message type_of="outgoing" message="Hello"}}
            {{> message/message type_of="incoming" message="Bay"}}
            {{> message/message type_of="outgoing" message="Hello"}}
            {{> message/message type_of="incoming" message="Bay"}}

        </div>
    </div>

    <div class="main__chat_downmenu bg_color_212A35 flex_center">
        <form action="" class="main__chat__form_message flex_center">
            {{> input/input class="main__chat__input_chat_message" name="message" type="text" placeholder="Сообщения"}}

            <span class="main__chat__form_message__button">
                {{> button/button class="main__chat__button_send_message" type="submit"}}
                <img src="../../images/chat/right-arrow.png" alt="Отправить" class="main__chat__button_send_message__imag">
            </span>
            
        </form>
        
    </div>
</div>
