<form id="form_authorization" class="form_authorization login-form__authorization">
    <div class="form__error_div">
        <span class="form__error_messages form_authorization__error_login hide">Неверный логин</span>
        {{{loginInput}}}
    </div>
    
    <div class="form__error_div">
        <span class="form__error_messages form_authorization__error_password hide">Неверный пароль</span>
        {{{passwordInput}}}
    </div>
    
    {{{buttonSubmit}}}
</form>
