<form id="form_authorization" class="form_authorization login-form__authorization">
    <div class="form__error_div">
        <span class="form__error_messages form_authorization__error_login hide">Неверный логин</span>
        {{{input name="login" class="text-input authorization_input" type="text" placeholder="Логин"}}}
    </div>
    
    <div class="form__error_div">
        <span class="form__error_messages form_authorization__error_password hide">Неверный пароль</span>
        {{{input name="password" class="password-input authorization_input" type="password" placeholder="Пароль"}}}
    </div>
    
    {{#buttonAuthor}}
        {{{ button class=this.class label=this.label onClick=this.onClick}}}
    {{/buttonAuthor}}
</form>
