<form action="" class="main__chat__form_message flex_center">
    {{{input class="main__chat__input_chat_message" name="message" type="text" placeholder="Сообщения"}}}

    {{#buttonSend}}
        {{{button class=this.class type="submit" onClick=this.onClick}}}
    {{/buttonSend}}
            
</form>
