.display_flex {
    display: flex;
}

.form__gap_10px__display_grid {
    display: grid;
    gap: 10px;
}

// Данные стили повторяються в файлах login и registration.

.login-form__authorization {
    display: grid;
    justify-items: center;
    gap: 20px;
    margin-top: 20px;
}

// Данные стили повторяються в файлах profile, data_changes и change_password.

.menu__title_profile {
    background-color: #212A35;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.profile__information {
    display: grid;
    gap: 20px;
    margin: 10px;
    overflow-y: auto;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.menu__title_profile__section_titles {
    color: white;
    font-size: 24px;
}