* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(152, 152, 152);
}

// Pages

@import "pages/login/login.scss";
@import "pages/menu/menu.scss";
@import "pages/profile/profile.scss";

// Layouts

@import "layouts/card/card.scss";
@import "layouts/menu/menu.scss";

// Partials

@import "partials/button/button.scss";
@import "partials/input/input.scss";
@import "partials/profile__information/profile__information.scss";
@import "./partials/error/error.scss";
@import "./partials/friend/friend.scss";