@import "repetitive_styles.scss";
@import "bg_color.scss";

// Pages

@import "pages/menu/menu.scss";
@import "pages/profile/profile.scss";

// Layouts

@import "layouts/card/card.scss";
@import "layouts/menu/menu.scss";

// Partials

@import "layouts/page/page.scss";
@import "partials/button/button.scss";
@import "partials/input/input.scss";
@import "partials/profile__information/profile__information.scss";
@import "partials/error/error.scss";
@import "partials/friend/friend.scss";
@import "partials/chat/chat.scss";
@import "partials/message/message.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 152, 152);
}

li::marker {
    color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    color: white;
}
