.button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: #8C8C8C;
}

.size_h40_w150 {
    height: 40px;
    width: 150px;
}

.size_h25_w180 {
    height: 25px;
    width: 180px;
}

.bg_color_50AF8A {
    background-color: #50AF8A;
}